NEXT_PUBLIC_NETLIFY_BACKEND_URL=https://auth.arvio.tv/.netlify/functions
NEXT_PUBLIC_ARVIO_RESOLVER_URL=
NEXT_PUBLIC_ALLOW_NETLIFY_MEDIA_PROXY=false
NEXT_PUBLIC_ARVIO_APP_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_TRAKT_CLIENT_ID=
TMDB_API_KEY=
TRAKT_CLIENT_SECRET=
